<div id="<%= dom_id concert %>">
  <p>
    <strong>Date:</strong>
    <%= concert.date %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= concert.place %>
  </p>

  <p>
    <strong>Assistants:</strong>
    <%= concert.assistants %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= concert.duration %>
  </p>

  <p>
    <strong>Band:</strong>
    <%= concert.band_id %>
  </p>

</div>
