<div id="<%= dom_id band %>">
  <p>
    <strong>Name:</strong>
    <%= band.name %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= band.members %>
  </p>

  <p>
    <strong>First show:</strong>
    <%= band.first_show %>
  </p>

  <p>
    <strong>Band type:</strong>
    <%= band.band_type.humanize %>
  </p>

  <p>
    <strong>Concerts made:</strong>
    <%= band.concerts.size %>
  </p>

  <p>
    <strong>Total fans:</strong>
    <%= band.all_assistants %>
  </p>

  <p>
    <strong>This month concerts:</strong>
    <%= band.this_month_concerts%>
  </p>

  <p>
    <strong>Last concert:</strong>
    <%= band.last_concert_date%>
  </p>

    <p>
    <strong>Top assistance:</strong>
    <%= band.most_popular_concert%>
  </p>

  <p>
    <strong>Longest concert:</strong>
    <%= band.longest_concert%> minutes.
  </p>

    <p>
    <strong>Longest concert location:</strong>
    <%= band.longest_concerts_location%> 
  </p>
</div>
