<div id="<%= dom_id band %>">
  <p>
    <strong>Name:</strong>
    <%= band.name %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= band.members %>
  </p>

  <p>
    <strong>First show:</strong>
    <%= band.first_show %>
  </p>

  <p>
    <strong>Band type:</strong>
    <%= band.band_type %>
  </p>

</div>
